<!--NEW BOARD MODAL-->
<div class="new-board-modal" [ngClass]="theme">
  <form
    #boardForm="ngForm"
    (ngSubmit)="onSubmit(boardForm.value)"
    class="new-board-modal__content white-or-dark-grey-bg"
  >
    <div class="title-container">
      <span class="title black-OR-white-txt">{{ this.formTitle }}</span>
      <span class="btn-close-modal" (click)="onCloseModal()">&times;</span>
    </div>
    <div class="input-group">
      <label for="name" class="medium-grey-or-white">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [value]="boardName | titlecase"
        [(ngModel)]="boardName"
        required
        placeholder="e.g. Web Design"
      />
    </div>
    <ul class="subtask-group">
      <label class="medium-grey-or-white">Columns</label>
      <li
        class="subtask-group__item"
        *ngFor="let column of columns; let i = index"
      >
        <input
          type="text"
          [value]="column.name | titlecase"
          name="column{{ i }}"
          [(ngModel)]="column.name"
          required
          class="black-OR-white-txt"
        />
        <span class="delete-column " (click)="removeColumn(column.id)"
          >&times;</span
        >
      </li>
      <span class="btn-add-column white-or-main-purple-10" (click)="addColumn()"
        >+ Add New Column</span
      >
    </ul>
    <button
      type="submit"
      class="btn-create-board"
      [disabled]="!boardForm.valid"
      [ngClass]="{ 'disabled-btn': !boardForm.valid }"
    >
      {{ btnSubmitText }}
    </button>
  </form>
</div>
