@import "../../shared/style/variables";

.modalDeleteBoard {
  @include theme();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #00000050;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 32px;
    max-width: 480px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
      color: $red;
      @include typo("h-l");
    }

    .text {
      @include typo("b-l");
      color: $medium-grey;
    }

    .actions {
      display: flex;
      gap: 16px;

      button {
        flex: 1;
        padding: 8px 16px;

        display: flex;
        justify-content: center;
        border-radius: 20px;
        border: none;
        cursor: pointer;

        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 23px;

        &.delete {
          background-color: $red;
          color: $white;

          &:hover {
            background-color: $red-hover;
          }
        }

        &.cancel {
          background: rgba(99, 95, 199, 0.1);
          color: $main-purple;

          &:hover {
            background: rgba(99, 95, 199, 0.25);
          }
        }
      }
    }
  }
}
