@import "../shared/style/variables";

.container {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  position: relative;

  * {
    transition: all 0.4s ease-in-out, color 0.4s ease-in-out;
  }

  @include theme();
}

.sidebar {
  width: 280px;
  min-width: 261px;
  height: 100vh;

  border-right-width: 1px;
  border-right-style: solid;
  padding: 32px 0;

  display: flex;
  flex-direction: column;
  gap: 54px;

  .logo {
    display: flex;
    padding-left: 32px;
  }

  //BOARDS
  .boards {
    display: flex;
    flex-direction: column;

    &__item {
      height: 48px;
      margin-right: 24px;
      padding-left: 32px;

      border-radius: 0 100px 100px 0;

      display: flex;
      align-items: center;
      gap: 16px;

      color: $medium-grey;

      transition: none !important;

      &:nth-of-type(1) {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.4px;
      }

      &:not(&:nth-of-type(1)) {
        cursor: pointer;

        &:hover {
          background-color: #635fc710;
          color: $main-purple;
        }
      }
      &:last-child {
        color: $main-purple;
      }

      &.active {
        &:not(&:last-child) {
          background-color: $main-purple;
          color: $white;
        }
      }
    }
  }

  //CONTAINER TOGGLE THEME
  .toggle-sidebar-container {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .toggle-theme-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    padding: 16px;
    margin: 0 24px;
    background-color: $line-grey;
    border-radius: 6px;

    i {
      font-size: 18px;
      color: $medium-grey;
      cursor: pointer;
    }

    .btn-container {
      display: flex;
      align-items: center;

      height: 20px;
      width: 40px;
      border-radius: 12px;
      background-color: $main-purple;

      position: relative;
    }
    .btn {
      display: inline-block;
      height: 14px;
      width: 14px;
      border-radius: 50%;
      background-color: $white;
      cursor: pointer;

      position: absolute;
      transition: all 0.6s ease-in-out;
    }
  }

  .toggle-sidebar {
    height: 48px;
    display: flex;
    align-items: center;
    gap: 16px;

    margin-right: 24px;
    padding-left: 24px;
    border-radius: 0px 100px 100px 0px;

    @include typo("h-m");
    color: $medium-grey;
    cursor: pointer;
  }

  &.hidden {
    margin-left: calc(280 / 16) * (-1rem);
  }

  @media only screen and (max-width: 730px) {
    position: absolute;
    z-index: 10;
    padding: 16px 0;
    gap: 24px;

    height: 100%;
    overflow-y: auto;
  }
}

//SECTION

.section {
  flex: auto;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  height: 97px;
  padding: 0 24px;

  border-bottom-width: 1px;
  border-bottom-style: solid;

  @media only screen and (max-width: 730px) {
    height: 54px !important;
  }

  &.hidden {
    padding: 0;
    padding-right: 24px;
    gap: 24px;
  }

  .logo-container {
    height: 100%;
    display: flex;
    align-items: center;

    border-right-width: 1px;
    border-right-style: solid;
    padding: 0 24px;

    .img-mobile {
      display: none;
    }

    @media only screen and (max-width: 730px) {
      border: none;
      padding: 0;
      padding-left: 24px;
      .img-desktop {
        display: none;
      }
      .img-mobile {
        display: block;
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $black;

    @media only screen and (max-width: 730px) {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .btn-group-addTask-editBoard {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-left: auto;
    position: relative;

    .btn-add-task {
      height: 48px;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0 24px;
      border-radius: 24px;
      background-color: $main-purple;
      cursor: pointer;

      @include typo("h-m");
      color: $white;

      &:hover {
        background-color: $main-purple-hover;
      }

      @media only screen and (max-width: 730px) {
        width: 48px;
        height: 32px;

        justify-content: center;
        .text {
          display: none;
        }
      }
    }

    i {
      cursor: pointer;
      font-size: 20px;
    }

    .option-edit-board {
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 24px;
      right: 0;

      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);

      border-radius: 8px;

      &__item {
        @include typo("b-l");
        cursor: pointer;

        &:nth-of-type(1) {
          color: $medium-grey;
        }
        &:nth-of-type(2) {
          color: $red;
        }
      }

      @media only screen and (max-width: 730px) {
        width: 150px;
        left: -24px;
        //right: 24px;
      }
    }
  }
}

.main-content {
  flex: auto;

  position: relative;

  overflow: auto;

  .btn-show-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 58px;
    border-radius: 0px 100px 100px 0px;
    background-color: $main-purple;

    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 32px;

    i {
      color: $white;
    }

    &:hover {
      background-color: $main-purple-hover;
    }
  }
}

//NEW TASK BOARD
.new-task-modal {
  display: none;
}

.modalDeleteBoard {
  @include theme();
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #00000050;

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 32px;
    max-width: 480px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    .title {
      color: $red;
      @include typo("h-l");
    }

    .text {
      @include typo("b-l");
      color: $medium-grey;
    }

    .actions {
      display: flex;
      gap: 16px;

      button {
        flex: 1;
        padding: 8px 16px;

        display: flex;
        justify-content: center;
        border-radius: 20px;
        border: none;
        cursor: pointer;

        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 23px;

        &.delete {
          background-color: $red;
          color: $white;

          &:hover {
            background-color: $red-hover;
          }
        }

        &.cancel {
          background: rgba(99, 95, 199, 0.1);
          color: $main-purple;

          &:hover {
            background: rgba(99, 95, 199, 0.25);
          }
        }
      }
    }
  }
}
